#loader-wrapper {
  width: 100%;
  min-height: calc(100vh - 70px - 42px);
  color: white;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader:nth-child(1) {
  width: 100px;
  height: 100px;
  border-top: 3px solid white;
  margin: 30px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: spin 3s infinite ease-in-out;
}
.loader:nth-child(2) {
  width: 80px;
  height: 80px;
  border-top: 3px solid white;
  margin: 30px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: spin 3s infinite ease-in-out;
}

.loader:nth-child(3) {
  width: 60px;
  height: 60px;
  border-top: 3px solid white;
  margin: 30px;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: spin 3s infinite ease-in-out;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
