.clock-app,
.latin-app,
.timer-app,
.alarm-app,
.calculator-app,
.camera-app {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 445px;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  top: 0;
  background: #000000bf;
  z-index: 9999999999999999999;
}
.back {
  transition: 0.5s all;
  position: absolute;
  top: 0;
  left: 0;
  background: #ececec55;
  display: flex;
  justify-content: center;
  align-items: center !important;
  padding: 0 10px;
  border-radius: 5px;
  margin: 10px;
}
.back:hover {
  opacity: 0.7;
}
.full-clock {
  background: #ffffff3f;
  padding: 20px;
  font-size: 40px;
  max-width: 250px;
  min-width: 250px;
  text-align: center;
}
.app-main {
  text-align: center;
  margin: 0;
}
.alarm {
  background: #ffffff3f;
  padding: 20px 5px;
  max-width: 250px;
  min-width: 250px;
  gap: 10px;
}
.setters,
.controllers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.alarm-input {
  padding: 7px 20px;
  outline: none;
  border: none;
  border-radius: 2px;
}
.btn-success {
  padding: 5px 6px;
  min-width: 10px;
  font-size: 18px;
  box-sizing: border-box !important;
  cursor: pointer;
  border-radius: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #04ff00;
  color: #fff;
  border: none;
}
.set-alarm {
  padding: 5px 20px;
  font-size: 20px;
  box-sizing: border-box !important;
  cursor: pointer;
  border-radius: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #04ff00;
  color: #fff;
  border: none;
}
#input,
#output {
  transition: 0.5s all;
  width: 220px;
  height: 80px;
  resize: none;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
  outline: none;
}
#input:focus,
#output:focus {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.reverse {
  display: inline-flex;
  flex-direction: column-reverse !important;
  align-items: center !important;
  text-align: center;
}
.convert {
  display: inline-flex;
  flex-direction: column;
  align-items: center !important;
}

.txt_div button {
  transition: 0.5s all;
  position: absolute;
  right: 25.5px;
  font-size: 19px;
  margin-top: 49.5px;
  padding: 5px 10px;
  border: none;
  background: #04ff00;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.txt_div button:hover {
  letter-spacing: 1.2px;
}
.timer-app-main {
  background: #ffffff3f;
  max-width: 250px;
  min-width: 250px;
  padding: 20px;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer * {
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
