.timer-display {
  position: absolute;
  left: 0;
  right: 0;
  width: 30px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 5px;
}
.timer-btn {
  margin-top: 20px;
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  background-color: var(--clr);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
