.content {
  min-height: calc(100vh - 50px - 56px);
  background-image: url("https://images.unsplash.com/photo-1542401886-65d6c61db217?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-position: bottom;
}
.browser {
  background: rgba(236, 236, 236, 0.789);
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-search {
  padding: 5px 10px;
  color: white;
  background: green;
  border: none;
  font-size: larger;
  text-decoration: none;
}
.btn-search:hover {
  color: white;
  text-decoration: none;
}
.input {
  outline: none;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
}
